<div class="content">
    <div class="feature-intro">
        <h1>Tipos de Ingredientes</h1>
        <span>Aquí podrás agregar los tipos de ingredientes.</span>
    </div>
  </div>
  
  <div class="content-section implementation">
    <p-toast></p-toast>
  
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTipoIngredientes()" [disabled]="!selectedTipoIngredientes || !selectedTipoIngredientes.length"></button>
          </ng-template>
        </p-toolbar>
  
        <p-table #dt [value]="tipoingredientes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','producto', 'descripcion']"
            [(selection)]="selectedTipoIngredientes" [rowHover]="true" dataKey="_id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Mantenedor de Tipos de Ingredientes</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filterTable( $event, dt, 'contains')" placeholder="Search..." class="p-inputtext p-component" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="producto">Producto <p-sortIcon field="tipo"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipoingrediente>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="tipoingrediente"></p-tableCheckbox>
                    </td>
                    <td>{{tipoingrediente.nombre}}</td>
                    <td>{{tipoingrediente.producto }}</td>
                    <td>{{tipoingrediente.descripcion}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editTipoIngrediente(tipoingrediente)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTipoIngrediente(tipoingrediente)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{tipoingredientes ? tipoingredientes.length : 0 }} Tipos de Ingrediente.
                </div>
            </ng-template>
        </p-table>
    </div>
  
    <p-dialog [(visible)]="tipoingredienteDialog" header="Detalle Ingrediente" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <input inputId="nombre" type="text" [(ngModel)]="tipoingrediente.nombre" required autofocus pInputText />
                <label for="nombre">Nombre</label>
              </span>
              <small class="p-invalid p-md-2" *ngIf="submitted && !tipoingrediente.nombre">Nombre es requerido.</small>
            </div>
            <div class="p-field">
                <span class="p-float-label">
                  <input inputId="producto" type="text" [(ngModel)]="tipoingrediente.producto" required autofocus pInputText />
                  <label for="producto">Producto</label>
                </span>
                <small class="p-invalid p-md-2" *ngIf="submitted && !tipoingrediente.producto">Producto es requerido.</small>
              </div>
            <div class="p-field">
              <span class="p-float-label">
              <textarea id="descripcion" pInputTextarea [(ngModel)]="tipoingrediente.descripcion" rows="3" cols="20"></textarea>
              <label for="descripcion">Descripcion</label>
              </span>
            </div>
          </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveTipo()"></button>
        </ng-template>
    </p-dialog>
  
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
  