<div class="content">
  <div class="feature-intro">
      <h1>Ingredientes</h1>
      <span>Aquí podrás agregar ingredientes para realizar los pedidos.</span>
  </div>
</div>

<div class="content-section implementation">
  <p-toast></p-toast>

  <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedIngredientes()" [disabled]="!selectedIngredientes || !selectedIngredientes.length"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="ingredientes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','tipo.nombre', 'descripcion']"
          [(selection)]="selectedIngredientes" [rowHover]="true" dataKey="_id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                  <h5 class="p-m-0">Mantenedor de Ingredientes</h5>
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="filterTable( $event, dt, 'contains')" placeholder="Search..." class="p-inputtext p-component" />
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                  <th pSortableColumn="tipo">Tipo <p-sortIcon field="tipo"></p-sortIcon></th>
                  <th pSortableColumn="categoria">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
                  <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                  <th pSortableColumn="gramaje">Gramaje <p-sortIcon field="gramaje"></p-sortIcon></th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ingrediente>
              <tr>
                  <td>
                      <p-tableCheckbox [value]="ingrediente"></p-tableCheckbox>
                  </td>
                  <td>{{ingrediente.nombre}}</td>
                  <td>{{ingrediente.tipo_ingrediente.nombre }}</td>
                  <td>{{getCategoria(ingrediente.categoria)}}</td>
                  <td>{{ingrediente.descripcion}}</td>
                  <td>{{ingrediente.gramaje}}</td>
                  <td>
                      <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editIngrediente(ingrediente)"></button>
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteIngrediente(ingrediente)"></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                  En total hay {{ingredientes ? ingredientes.length : 0 }} Tipos de Ingrediente.
              </div>
          </ng-template>
      </p-table>
  </div>

  <p-dialog [(visible)]="ingredienteDialog" header="Detalle Ingrediente" [modal]="true" styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div class="p-field">
            <span class="p-float-label">
              <input inputId="nombre" type="text" [(ngModel)]="ingrediente.nombre" required autofocus pInputText />
              <label for="nombre">Nombre</label>
            </span>
            <small class="p-invalid p-md-2" *ngIf="submitted && !ingrediente.nombre">Nombre es requerido.</small>
          </div>
          <div class="p-field">
            <span class="p-float-label">
            <textarea id="descripcion" pInputTextarea [(ngModel)]="ingrediente.descripcion" rows="3" cols="20"></textarea>
            <label for="descripcion">Descripcion</label>
            </span>
          </div>
          <div class="p-field">
            <span class="p-float-label">
              <p-dropdown [(ngModel)]="ingrediente.categoria" [options]="categorias" [required]='true' placeholder="Categoría"></p-dropdown>
              <label for="tipo">Categoría</label>
            </span>
            <small class="p-invalid p-md-2" *ngIf="submitted && !ingrediente.categoria">Categoría es requerida.</small>
            </div>

          <div class="p-field">
            <span class="p-float-label">
            <!-- Aqui se debe indicar la propiedad que se mostrará en el control con la opción optionLabel-->
            <p-dropdown [(ngModel)]="ingrediente.tipo_ingrediente" [options]="tiposIngrediente" [required]='true' placeholder="Tipo" optionLabel="nombre" ></p-dropdown>
            <label for="tipo">Tipo</label>
            </span>
            <small class="p-invalid p-md-2" *ngIf="submitted && !ingrediente.tipo ">Tipo es requerido.</small>
          </div>
          <div class="p-field">
            <span class="p-float-label">
              <p-inputNumber inputId="gramaje" [(ngModel)]="ingrediente.gramaje"></p-inputNumber>
              <label for="gramaje">Gramaje</label>
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveTipo()"></button>
      </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
