<div id="login">
  <h3 class="text-center pt-5"></h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <h3 class="text-center">Login</h3>
          <p-toast (onClose)="onClose()"></p-toast>
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <input
                  inputId="username"
                  type="text"
                  [(ngModel)]="this.usuario.username"
                  required
                  autofocus
                  pInputText
                />
                <label for="username">Usuario</label>
              </span>
              <small
                class="p-invalid p-md-2"
                *ngIf="submitted && !this.usuario.username"
                >Usuario es requerido.</small
              >
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <input
                  inputId="password"
                  type="text"
                  [(ngModel)]="this.usuario.password"
                  required
                  autofocus
                  pInputText
                />
                <label for="nombre">Contraseña</label>
              </span>
              <small
                class="p-invalid p-md-2"
                *ngIf="submitted && !this.usuario.password"
                >Nombre es requerido.
              </small>
            </div>
            <div class="p-field-checkbox">
              <p-checkbox
                inputId="recordar"
                name="recordar"
                [binary]="true"
                [(ngModel)]="this.usuario.recordar"
              ></p-checkbox>
              <label for="recordar">Recordarme</label>
            </div>
          </div>
          <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="doLogin()" class="p-button-text" ></button>
          <div id="register-link" class="text-right">
            <a href="#" class="text-info">Register here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
