<p-menubar [model]="items">
  <button *ngIf="this.isSignedIn" pButton label="Logout" (click)="logout()" icon="pi pi-power-off"></button>
  <button *ngIf="!this.isSignedIn" pButton label="Login" (click)="logout()" icon="pi pi-key"></button>
</p-menubar>
