<div class="content">
  <div class="feature-intro">
    <h1>Nueva Comanda</h1>
    <span>Aquí podrás crear nuevos pedidos.</span>
  </div>
</div>
<p-panel [toggleable]="true">
  <p-header>
    <span class="pi pi-user"></span> Información del Cliente
  </p-header>
  <div class="p-fluid">
    <div class="p-formgrid p-grid">
      <div class="p-field p-sm-12 p-md-8">
        <span class="p-float-label">
          <input inputId="resumen" [(ngModel)]="comanda.resumen" type="text" pInputText />
          <label for="resumen">Resumen</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-calendar inputId="fecha_agenda" [(ngModel)]="comanda.fecha_agenda" ></p-calendar>
          <label for="fecha_agenda">Fecha Entrega</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-calendar
            [showTime]="true"
            [timeOnly]="true"
            hourFormat="24"
            [(ngModel)]="comanda.fecha_entrega"
          ></p-calendar>
          <label for="fechaPreparacion">Hora Entrega</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-autoComplete inputId="cliente" [(ngModel)]="comanda.cliente"></p-autoComplete>
          <label for="cliente">Nombre Cliente</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-autoComplete inputId="fono"></p-autoComplete>
          <label for="fechaPreparacion">Fono Cliente</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-6">
        <span class="p-float-label">
          <p-autoComplete inputId="direccion"></p-autoComplete>
          <label for="direccion">Dirección</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <label for="pagado" style="padding-right: 1em">Despacho?</label>
        <p-inputSwitch
          inputId="pagado"
          [(ngModel)]="comanda.despacho"
          style="vertical-align: middle"
        ></p-inputSwitch>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-inputNumber
            inputId="valor"
            mode="currency"
            currency="CLP"
            locale="es-CL"
            [(ngModel)]="comanda.valor"
          ></p-inputNumber>
          <label for="valor">Valor a pagar</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-2">
        <span class="p-float-label">
          <p-dropdown
            [options]="['Efectivo', 'Debito', 'Transferencia']"
            placeholder="Tipo Pago"
            [(ngModel)]="comanda.tipoPago"
          ></p-dropdown>
          <label for="fechaPreparacion">Tipo Pago</label>
        </span>
      </div>
      <div class="p-field p-sm-12 p-md-8">
        <label for="pagado" style="padding-right: 1em">Pagado?</label>
        <p-inputSwitch
          inputId="pagado"
          [(ngModel)]="comanda.pagado"
          style="vertical-align: middle"
        ></p-inputSwitch>
      </div>
    </div>
  </div>
</p-panel>
<p-panel [toggleable]="true">
  <p-header style="width: 100%">
    <div class="p-fluid">
      <div class="p-formgrid p-grid">
        <div class="p-field p-sm-12 p-md-8">
          <span class="pi pi-pencil"></span> Detalle del Pedido
        </div>
        <div class="p-field p-sm-12 p-md-2">
          <button
            pButton
            pRipple
            type="button"
            label="Agregar Producto"
            class="p-button-raised p-button-rounded p-button-primary"
            icon="pi pi-plus"
            (click)="showProductDialog()"
          ></button>
        </div>
        <div class="p-field p-sm-12 p-md-2">
          <button
            pButton
            pRipple
            type="button"
            label="Guardar"
            class="p-button-raised p-button-rounded p-button-success"
            icon="pi pi-save"
          ></button>
        </div>
      </div>
    </div>
  </p-header>
  <p-table
    #dt
    [value]="comanda.productos"
    [rows]="10"
    [paginator]="true"
    [(selection)]="SelectedProductos"
    [rowHover]="true"
    dataKey="_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries "
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"

  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombre">
          Producto <p-sortIcon field="nombre"  style="width: 60rem"></p-sortIcon>
        </th>
        <th pSortableColumn="tipo"  style="width: 20rem">
          Observación <p-sortIcon field="tipo"></p-sortIcon>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
      <tr>
        <td>
          <p-tableCheckbox [value]="producto"></p-tableCheckbox>
        </td>
        <td>
          <span *ngFor="let ingrediente of producto.ingredientes"
            >{{ ingrediente.tipo_ingrediente.nombre }}: {{ ingrediente.nombre }}
          </span>
        </td>
        <td>{{ producto.descripcion }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="removeProducto(producto)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay
        {{ comanda.productos ? comanda.productos.length : 0 }} productos en la
        comanda.
      </div>
    </ng-template>
  </p-table>
  <p-dialog
    [(visible)]="showDialog"
    [modal]="true"
    styleClass="p-fluid"
    position="top"
    [style]="{ width: '95vw' }"
  >
    <p-header> Agregar producto </p-header>
    <ng-template pTemplate="content">
      <div class="p-fluid">
        <div class="p-formgrid p-grid">
          <div *ngFor="let item of grupos" class="p-field p-sm-12 p-md-2">
            <button
              pButton
              pRipple
              type="button"
              [label]="item.nombre"
              class="p-button-raised p-button-rounded"
              icon="pi pi-times-circle"
              (click)="this.selectedProduct = item.nombre"
            ></button>
          </div>
        </div>
      </div>
      <div *ngFor="let item of grupos" class="p-fluid">
        <div *ngIf="selectedProduct === item.nombre" class="p-formgrid p-grid">
          <div
            *ngFor="let tipo of filterTiposByProducto(item.nombre)"
            class="p-field p-sm-12 p-md-3"
          >
            <p-panel [header]="tipo.nombre" styleClass="p-card-shadow">
              <span
                pTooltip="{{ tag.descripcion }}"
                *ngFor="let tag of filterIngredientesByType(tipo.nombre)"
                class="p-tag"
                style="margin-right: 0.5rem; cursor: pointer"
                (click)="addIngrediente(tag)"
                >{{ tag.nombre }}
              </span>
            </p-panel>
          </div>
        </div>
      </div>
    </ng-template>
    <p-footer>
      <div class="p-fluid">
        <div class="p-formgrid p-grid">
          <div class="p-field p-sm-12 p-md-9">
            <p-panel header="Producto Seleccionado" styleClass="p-card-shadow">
              <span
                pTooltip="Eliminar {{ ing.nombre }}"
                *ngFor="let ing of selectedIngredientes"
                class="p-tag p-tag-info"
                style="margin-right: 0.5rem; cursor: pointer"
                (click)="removeIngrediente(ing)"
                >{{ ing.tipo_ingrediente.nombre }}: {{ ing.nombre }}
                <i class="pi pi-times-circle" style="font-size: 0.5rem"></i>
              </span>
              <div class="p-field">
                <input
                  inputId="Observacion"
                  type="text"
                  pInputText
                  [(ngModel)]="this.editedProducto.descripcion"
                  placeholder="Observación"
                  style="margin-top: 1rem;"
                />
              </div>
            </p-panel>
          </div>
          <div class="p-sm-12 p-md-3">
            <button
              pButton
              pRipple
              type="button"
              label="Cancelar"
              class="p-button-raised p-button-rounded p-button-danger"
              icon="pi pi-times-circle"
              (click)="cancelAddProduct()"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Agregar"
              class="p-button-raised p-button-rounded p-button-success"
              icon="pi pi-plus"
              (click)="addProducto()"
            ></button>
          </div>
        </div>
      </div>
    </p-footer>
  </p-dialog>
</p-panel>
